{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block nav_my_posts %}active{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="card shadow mb-12">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{% trans 'Update Post' %}</h6>
            </div>
            <div class="card-body">

                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.content }}
                    </div>
                    <div class="form-check">
                        {{ form.is_published }}
                        <label class="form-check-label" for="{{ form.is_published.auto_id }}">
                            {{ form.is_published.label }}
                        </label>
                    </div>
                    <div class="form-check">
                        {{ form.is_public }}
                        <label class="form-check-label" for="{{ form.is_public.auto_id }}">
                            {{ form.is_public.label }}
                        </label>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Update' %}
                    </button>
                    <a href="{% url 'posts:post-list' %}" class="btn btn-warning">
                        {% trans 'Cancel' %}
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
